<section class="bg-slate-50 rounded-2xl p-5 mt-10">
    <div class="container mx-auto">
        <div class="py-28">
            <h2 class="text-center text-5xl font-bold">
                About
            </h2>
            <p class="w-full md:w-1/2 mx-auto mt-5 text-center">
                Welcome to my corner of the digital world! I'm Sathiyananthadevar Diveshkar, a software engineer at Efito Solution. a passionate and versatile software engineer dedicated to creating elegant solutions to complex problems. With a background in information technology (NDT) at the University of Moratuwa, I have honed my skills in various areas of software development.
            </p>  
        </div>
        <div class="md:flex flex-warp">
            <div class="w-full md:w-1/3 my-4 md:my-0 px-3">
                <div class="bg-white  p-10 rounded-2xl shadow-lg h-[400px] transform transition-transform hover:scale-105">
                    <h3 class="text-2xl font-bold text-gray-700 text-center">Skills</h3>
                        <ul class="text-gray-600 mt-3 font-semibold text-center">
                            <li>Java</li>
                            <li>Javascript</li>
                            <li>SpringBoot</li>
                            <li>Node.js</li>
                            <li>Express.js</li>
                            <li>MongoDB</li>
                            <li>MySQL</li>
                            <li>PostgreSQL</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Tailwind</li>
                        </ul>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-3 my-4 md:my-0">
                <div class="bg-white  p-10 rounded-2xl shadow-lg h-[400px] transform transition-transform hover:scale-105">
    	            <h3 class="text-2xl font-bold text-gray-700 text-center">Projects</h3>
                    <ul class="text-gray-600 mt-3 font-semibold text-center">
                        <li>
                            <a href="https://github.com/diveshkar/renewal-license">
                             <h2>Renewal-License</h2>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/diveshkar/TestingPc">
                             <h2>Testing-Pc</h2>
                            </a>
                        </li>
                        <li>
                            <h2>FloorPlan</h2>
                            <div class="flex justify-center">
                                <a href="https://github.com/diveshkar/builderBidFrontendDemo">
                                <h2 class="px-1 font-bold ">FrontEnd</h2>
                                </a>
                                <a href="https://github.com/diveshkar/builderBidBackendIntern">
                                <h2 class="px-1 font-bold">Backend</h2>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="https://github.com/diveshkar/student-managment-system">
                             <h2>Student-TrackPro</h2>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/diveshkar/musicplayer">
                             <h2>Harmony-Hub</h2>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/diveshkar/QuickBrr">
                             <h2>Quick-Br</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full md:w-1/3 my-4 md:my-0 px-3">
                <div class="bg-white  p-10 rounded-2xl shadow-lg h-[400px] transform transition-transform hover:scale-105">
    	            <h3 class="text-2xl font-bold text-gray-700 text-center">Experiences
                    </h3>
                        <ul class="text-gray-600 mt-3 font-semibold text-center">
                            <li>Software Engineer at Efito Solution</li>
                        </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>